<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="git" />
    <package id="vagrant" />
    <package id="terraform" />
    <package id="terraform-provider-sakuracloud" />
    <package id="usacloud" />
    <package id="keepass" />
    <package id="rdcman" />
    <package id="visualstudiocode" />
    <package id="wireshark" />
    <package id="teraterm" />
    <package id="bginfo" />
    <package id="zoomit" />
    <package id="hosts.editor" />
    <package id="sourcetree" />
    <package id="chocolateygui" />
    <package id="winscp" />
    <package id="rapidee" />
    <package id="Charles" />
</packages>