<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Chocolatey Tool -->
    <package id="chocolateygui" />
    <!-- Source Management -->
    <package id="git" />
    <package id="sourcetree" />
    <!-- Infrastructure as Code -->
    <package id="vagrant" />
    <package id="terraform" />
    <package id="terraform-provider-sakuracloud" />
    <package id="usacloud" />
    <package id="teraterm" />
    <package id="rsync" />
    <!-- Windows Setting -->
    <package id="wireshark" />
    <package id="hosts.editor" />
    <package id="boxstarter" />
    <package id="rapidee" />
    <package id="bginfo" />
    <!-- Password Management -->
    <package id="keepass" />
    <!-- Remote Desktop and SSH -->
    <package id="rdcman" />
    <package id="winscp" />
    <!-- Programing -->
    <package id="visualstudiocode" />
    <package id="Charles" />
    <!-- Presens Tool -->
    <package id="zoomit" />
</packages>